@CHARSET "ISO-8859-1";

.container {
	margin-top: 20px;
}

form {
	border-radius: 3px;
	padding:10px;
	margin-top: 10px;
	background-color: #eee;
}

a#logoutLink{
	width:100%;
}

form#logoutForm{
	padding: 0;
}

form#logoutForm i{
	margin-right: 5px;
}

form#conversationsList {
	background-color: transparent;
	margin-top:0;
	padding:0;
}

form#conversationsList a{
	display: block;
	padding: 5px 10px;
	margin-top: 3px;
}

form#conversationsList a.close-chat{
	display: inline-block;
    float: left;
    top: 3px;
    margin: 5px 0;
    font-weight: normal;
    padding: 0px 5px 0px 10px;
}

form#conversationsList .selected{
	font-weight: bold;
	background: #eee;
    border-radius: 3px;
}


form#conversationsList .not-selected{
	font-weight: normal;
}

form#conversationsList .not-selected.pending{
	background: yellow;
	border-radius: 3px;
}

form .error{
	display: block;
	color:red;
}

#avatar:before{
    content:'';
    padding:50% 0; /* vertical value as  100% equals width */
    display:inline-block;
}

#avatar {
    width: 90%;
    background: #eee;
    border-radius: 50%;
}

#chatText {
	height: 70vh;
    background: #eee;
    border-radius: 4px;
    padding: 10px;
}